<section>
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h3 class="title is-6 is-uppercase">
          <%= "Courses (#{courses.size})" %>
        </h3>
      </div>

      <div class="column is-narrow">
        <%= link_to new_course_path, class: "button is-primary is-small is-uppercase" do %>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>

          <span>Register a course</span>
        <% end %>
      </div>
    </div>

    <% if courses.blank? %>
      <div class="block has-text-centered mt-6">
        <p class="subtitle">
          There are none available courses.
        </p>
      <div>
    <% else %>
      <%= render partial: "course", collection: courses %>
    <% end %>
  </div>
</section>
