<section>
  <div class="container">
    <%= link_to root_path, class: "has-dark-text" do %>
      <h3 class="title my-5">Courses.</h3>
    <% end %>

    <% if courses.blank? %>
      <div class="block has-text-centered mt-6">
        <p class="title">
          There are none available courses.
        </p>

        <%= link_to new_course_path, class: "button is-primary" do %>
          Register a new course
        <% end %>
      <div>
    <% else %>
      <%= render partial: "course", collection: courses %>
    <% end %>
  </div>
</section>
