<section>
  <div class="container">
    <h3 class="title">New Course.</h3>

    <div class="columns">
      <div class="column is-half">
        <%= render "form", course: @course %>
      </div>
    </div>
  </div>
</section>
