<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <%= image_tag "logo.png" %>
      <% end %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if current_teacher %>
              <%= link_to "Sign Out", session_path, method: :delete, class: "button is-text has-text-weight-semibold" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
